<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      Order Reference # {{form.reference}}

      <span slot="right"><b>Current Status:</b>

        <b-badge variant="primary">{{form.status}}</b-badge>

      </span>

    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component title="Order Products Detail" icon="account" class="tile is-child">

          <span v-for="(products, index) in form.details">


            <b-field label="Product Name">
              <b-input :value="products.product_name" custom-class="is-static" readonly />
            </b-field>

            <b-field label="Product Price">
              <b-input :value="products.price" custom-class="is-static" readonly />
            </b-field>

            <b-field label="Product Quantity">
              <b-input :value="products.quantity" custom-class="is-static" readonly />
            </b-field>

            <div v-if="products.extras">

              <div v-html="returnJsonObject(products.extras)">

              </div>

            </div>


            <hr>



          </span>

        </card-component>

        <card-component title="Order Detail" icon="account" class="tile is-child">

          <b-field label="Change Order Status">
            <b-select v-model="form.status" @input="submit()">
              <option value="Order Placed">Order Placed</option>
              <option value="Accepted">Accepted</option>
              <option value="Rejected">Rejected</option>
              <option value="In Progress">In Progress</option>
              <option value="Delivered">Delivered</option>
            </b-select>
          </b-field>
          <hr>
          <b-field label="Total Amount With Delivery">
            <b-input :value="form.total_amount_with_fee" custom-class="is-static" readonly />
          </b-field>
          <hr>
          <b-field label="Delivery Fees">
            <b-input :value="form.delivery_fees" custom-class="is-static" readonly />
          </b-field>
          <hr>
          <b-field label="Payment Method">
            <b-input :value="form.payment" custom-class="is-static" readonly />
          </b-field>
          <hr>
          <b-field label="Delivery Address">
            <b-input :value="form.delivery_address" custom-class="is-static" readonly />
          </b-field>
        </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>

import Vue from 'vue'
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'OrderForm',
  components: {CardComponent, Tiles, HeroBar, TitleBar, Notification},
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      url: "",
      form: this.getClearFormObject(),
      extraObject : {},
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Order'
      }

      return [
        'Admin',
        'Orders',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create Order'
      }
    },
    formCardTitle () {},

    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        total_amount_with_fee: null,
        delivery_address: null,
        delivery_fees: null,
        payment: null,
        reference: null,
        status: null,
        details : null
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/orders/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)
          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }

    },

      returnJsonObject(string){
          this.extraObject =  JSON.parse(string);
          console.log(this.extraObject);
          var html = '';
          for (let loop in this.extraObject){
               html +=  '<h1>Name : ' + this.extraObject[loop].group_name + ' Choice :' + this.extraObject[loop].choice
          }
          return html;
     },


      submit () {

      let method = 'post'
      let url = '/orders/store'

      if (this.id) {
        method = 'put'
        url = `/orders/${this.id}`
      }

      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false

        this.$buefy.snackbar.open({
          message: 'Order Status Updated Successfully',
          queue: false
        })

      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
