<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/SMSSetting/index" class="button">
        SMS Setting
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="customer_id">
            <b-field label="Customer ID" horizontal>
              <b-input :value="customer_id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Key" horizontal>
            <b-input placeholder="Enter key" v-model="form.key" required />
          </b-field>

          <b-field label="Secret" horizontal>
            <b-input placeholder="Enter secret" v-model="form.secret" required />
          </b-field>
          <b-field label="Gateway Key" horizontal>
            <b-input placeholder="Enter gateway key" v-model="form.gateway_key" required />
          </b-field>

          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'OfferForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    customer_id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New SMS Setting'
      }

      return [
        'Admin',
        'SMSSetting',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.key
      } else {
        return 'Create SMS Setting'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit SMS Setting'
      } else {
        return 'New SMS Setting'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        customer_id: null,
        key: null,
        sort: null,
        secret:null,
        gateway_key: null,
      }
    },
    getData () {
      if (this.customer_id) {
        axios
          .get(`/SMSSetting/${this.customer_id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/SMSSetting/store'

      if (this.customer_id) {
        method = 'patch'
        url = `/SMSSetting/${this.customer_id}`
      }



      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'SMSSetting.index'})

        if (!this.customer_id && r.data.data.customer_id) {
          this.$buefy.snackbar.open({
            message: 'SMS Setting Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'SMS Setting Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    customer_id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
