<template>
  <div id="app">
    <nav-bar/>
    <aside-menu :menu="menu"/>
    <router-view/>
    <footer-bar/>
  </div>
</template>

<script>
    // @ is an alias to /src
    import NavBar from '@/components/NavBar'
    import AsideMenu from '@/components/AsideMenu'
    import FooterBar from '@/components/FooterBar'

    export default {
        name: 'home',
        components: {
            FooterBar,
            AsideMenu,
            NavBar
        },
        computed: {
            menu() {
                return [
                    'General',
                    [
                        {
                            to: '/',
                            icon: 'desktop-mac',
                            label: 'Dashboard'
                        },

                  {
                  label:'Basics',
                 icon: 'view-list',
                 menu:

                    [
                        {
                          to: '/address/index',
                          label: 'Name & Address',
                          icon: 'map-marker',
                          updateMark: false
                        },
                        {
                          to: '/DeliveryCharges/index',
                          label: 'Delivery Charges',
                          icon: 'cash-multiple',
                          updateMark: false
                        },
                  ]
            },
                  {
                    label:'Menu setup',
                    subLabel: 'Menu setup',
                    icon: 'view-list',
                    menu:
                    [
                      {
                        to: '/menusetup/index',
                        label: 'Menu Setup',
                        icon: 'book-open-variant',
                        updateMark: false
                      },
                  {
                    to: '/deals/index',
                    label: 'Deals Setup',
                    icon: 'book-open-variant',
                    updateMark: false
                  },
                  {
                    to: '/offers/index',
                    label: 'Offers',
                    icon: 'sale',
                    updateMark: false
                  },
                  {
                    to: '/vouchers/index',
                    label: 'Vouchers',
                    icon: 'cards',
                    updateMark: false
                  },

                ]
            },

                  {
                      label: 'Orders',
                      icon: 'view-list',
                      menu:
                          [
                              {
                                  to: '/orders/index',
                                  label: 'Orders List',
                                  icon: 'cards',
                                  updateMark: false
                              },
                          ]
                  },

                  {
                    label: 'Website Setting',
                    subLabel: 'Menu setup & receive orders',
                    icon: 'view-list',
                    menu:
                      [
                        {
                          to: '/slider/index',
                          label: 'Slider',
                          icon: 'cards',
                          updateMark: false
                        },

                        {
                          to: '/OurStory/index',
                          label: 'OurStory',
                          icon: 'cards',
                          updateMark: false
                        },
                      /*  {
                          to: '/Gallery/index',
                          label: 'Gallery',
                          icon: 'cards',
                          updateMark: false
                        },*/
                        {
                          to: '/cms/index',
                          label: 'CMS',
                          icon: 'cards',
                          updateMark: false
                        },


                      ]
                  },
                        {
                        label: 'Notifications',
                        subLabel: 'Notifications',
                        icon: 'view-list',
                        menu:

                  [
                    {
                      to: '/SMSSetting/index',
                      label: 'SMS Setting',
                      icon: 'message-settings-variant',
                      updateMark: false
                    },
                    {
                      to: '/MessageTemplating/index',
                      label: 'Message Templating',
                      icon: 'cards',
                      updateMark: false
                    },
                    {
                      to: '/SMSBroadcasting/new',
                      label: 'SMS Broadcast',
                      icon: 'message-bulleted',
                      updateMark: false
                    },

                    {
                      to: '/GeneralSetting/new',
                      label: 'GeneralSetting',
                      icon: 'cards',
                      updateMark: false
                    }
                  ]
            }
                ]
]
            }
        },
        created() {
            axios
                .get('/user')
                .then(r => {
                    this.$store.commit('user', r.data.data)
                })
                .catch(err => {
                    this.$buefy.toast.open({
                        message: `Error: ${err.message}`,
                        type: 'is-danger'
                    })
                })
        }
    }
</script>
