<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/deals/index" class="button">
        Deals
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Deal Name" horizontal>
            <b-input placeholder="eg. Deal 1" v-model="form.name" required />
          </b-field>

          <b-field label="Description" horizontal>
            <b-input placeholder="eg. Deal 1" v-model="form.description" required />
          </b-field>

          <b-field label="Deal Price" horizontal>
            <b-input placeholder="eg. 2500" v-model="form.price" required />
          </b-field>

          <span v-for="(input, index) in form.products">
            <b-field horizontal label="Select Deal Item">

              <b-select placeholder="Select Item" name="item_id[index]" v-model="input.item_id" required>
                <option
                  v-for="option in options"
                  :value="option.id"
                  :key="option.id">
                    {{ option.name }}
                </option>
              </b-select>

              <b-field horizontal label="Category">
                      <b-checkbox v-model="input.is_category"   name="is_category['index']" true-value="1" false-value="0"/>
              </b-field>

               <b-field horizontal label="Allo Options">
                      <b-checkbox v-model="input.is_options"   name="is_options['index']" true-value="1" false-value="0"/>
              </b-field>

              <button class="button" type="button" @click="deleteItem(index)">Remove</button>
            </b-field>

            <b-field horizontal label="Item Quantity">
               <b-input v-model="input.quantity" name="quantity['index']" placeholder="Quantity" required />
            </b-field>
            <hr>
          </span>

          <b-field horizontal>
            <button class="button" type="button" @click="addItem">Add Item</button>
          </b-field>

          <b-field horizontal label="Status">
            <b-checkbox v-model="form.status" true-value="1" false-value="0"/>
          </b-field>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>

import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import Multiselect from 'vue-multiselect'

export default {
  name: 'DealForm',
  components: {CardComponent, Tiles, HeroBar, TitleBar, Multiselect },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject(),
      options: []
    }
  },
  computed: {
    titleStack () {
      let lastCrumb;

      if (this.id) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Deal'
      }

      return [
        'Admin',
        'Deals',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.id) {
        return this.form.name
      } else {
        return 'Create Deal'
      }
    },
    formCardTitle () {
      if (this.id) {
        return 'Edit Deal'
      } else {
        return 'New Deal'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData();
    this.getProducts()
  },
  methods: {

      getClearFormObject () {
        return {
          id: null,
          name: null,
          price : null,
          status: 0,
          description:null,
          products: []
        }
      },

      getData () {
        if (this.id) {
          axios
            .get(`/deals/${this.id}`)
            .then(r => {
              this.form = r.data.data

              let arr = [];
              let results  = r.data.data.products;
              results.forEach(function (item) {
               var arr2 = {item_id: item.item_id, quantity:item.quantity,is_category:item.is_category,is_options:item.is_options};
                arr.push(arr2);
              });

              console.log(arr);

              this.form.products = arr;

            })
            .catch(e => {
              this.item = null

              this.$buefy.toast.open({
                message: `Error: ${e.message}`,
                type: 'is-danger',
                queue: false
              })
            })
        }
      },

      getProducts () {
          axios.get(`deals-products`)
          .then(r => {
            if (r.data && r.data.data) {
              let results = r.data.data;
              this.options = results;
            }
          })
          .catch(e => {

            this.options = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      },

      submit () {
        this.isLoading = true
        let method = 'post'
        let url = '/deals/store'

        if (this.id) {
          method = 'patch'
          url = `/deals/${this.id}`
        }



        axios({
          method,
          url,
          data: this.form
        }).then(r => {
          this.isLoading = false
          this.$router.push({name: 'deals.index'})

          if (!this.id && r.data.data.id) {
            this.$buefy.snackbar.open({
              message: 'Deal Created Successfully',
              queue: false
            })
          } else {
            this.item = r.data.data

            this.$buefy.snackbar.open({
              message: 'Deal Updated Successfully',
              queue: false
            })
          }
        }).catch(e => {
          this.isLoading = false

          this.$buefy.toast.open({
            message: `Error: ${e.message}`,
            type: 'is-danger',
            queue: false
          })
        })
      },

      addItem() {
          this.form.products.push({
              item_id: null,
              quantity: 0,
              is_category:0,
              is_options:0,

          })
      },

      deleteItem(index) {
          this.form.products.splice(index,1)
      }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
        this.getProducts()
      }
    }
  }
}
</script>
