<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/vouchers/index" class="button">
        Vouchers
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Voucher Name" horizontal>
            <b-input placeholder="eg. New Year Discount" v-model="form.name" required />
          </b-field>
          <b-field label="Voucher Type" horizontal>
            <b-select placeholder="Select Voucher Type" v-model="form.type">
              <option value="Amount" > Amount </option>
              <option value="Percentage"> Percentage </option>
            </b-select>
          </b-field>
          <b-field label="Total Usage Per User ?" horizontal>
            <b-input placeholder="Total Usage Per User ?" v-model="form.coupon_limit" required />
          </b-field>
          <b-field label="Discount" horizontal>
            <b-input v-model="form.discount" required />
          </b-field>

          <b-field label="Expriration" horizontal>
            <b-datepicker
                    @input="input"
                    v-model="form.expiry_date"
                    locale="en-US"
                    placeholder="Click to select..."
                    icon="calendar-today"
                    required
            >
            </b-datepicker>
          </b-field>
          <b-field horizontal label="Status">
            <b-checkbox v-model="form.status" true-value="1" false-value="0"/>
          </b-field>
          <b-field horizontal v-if="!form.coupon_limit" label="Used Once">
            <b-checkbox v-model="form.coupon_limit" true-value="1" />
          </b-field>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'
import BSelect from "buefy/src/components/select/Select";

export default {
  name: 'DealForm',
  components: {BSelect, UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Deal'
      }

      return [
        'Admin',
        'Vouchers',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create Deal'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Deal'
      } else {
        return 'New Deal'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        name: null,
        type: null,
        coupon_limit: null,
        discount: null,
        expiry_date: null,
        status: 0
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/vouchers/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

            this.form.expiry_date = new Date(r.data.data.expiry_date)
          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/vouchers/store'

      if (this.id) {
        method = 'patch'
        url = `/vouchers/${this.id}`
      }

      this.form.expiry_date = moment(this.form.expiry_date).format('Y-M-D').toString();

      axios({
        method,
        url,
        data: this.form
      }).then(r => {
        this.isLoading = false
        this.$router.push({name: 'vouchers.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Deal Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Deal Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
