<template>
  <card-component title="Add Category" icon="account-circle" class="tile is-child">
    <form @submit.prevent="submit">
      <b-field horizontal label="Name" :message="formNameMessage" :type="formNameType">
        <b-input v-model="form.name" name="name" required/>
      </b-field>
      <b-field horizontal label="Description" :message="formDescriptionMessage" :type="formDescriptionType">
        <b-input v-model="form.description" name="description" required/>
      </b-field>

      <b-field horizontal label="Status">
        <b-checkbox v-model="form.status"  true-value="1" false-value="0"/>
      </b-field>

      <hr>

      <b-field horizontal>
        <div class="control">
          <button type="submit" class="button is-primary" :class="{'is-loading':isLoading}">
            Submit
          </button>
        </div>
      </b-field>
    </form>
  </card-component>
</template>

<script>

  import CardComponent from '@/components/CardComponent'
  import BCheckbox from "buefy/src/components/checkbox/Checkbox";

export default {
  name: 'AddCategory',
  components: {
    BCheckbox,
    CardComponent, ViewCategories
  },
  data () {
    return {
      isFileUploaded: false,
      isLoading: false,
      errors: {},
      form: {
        name: null,
        description: null
      }
    }
  },
  computed: {
    formNameType() {
      return this.errors.name?'is-danger':null
    },
    formNameMessage() {
      return this.errors.name?this.errors.name[0]:'Required. Category Name'
    },
    formDescriptionType() {
      return this.errors.description?'is-danger':null
    },
    formDescriptionMessage() {
      return this.errors.description?this.errors.description[0]:'Required. Category Description'
    }
  },
  mounted () {

  },
  methods: {
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/categories/store'

      axios({
        method,
        url,
        data: this.form
      }).then(r => {
        this.isLoading = false

        if (!this.id && r.data.data.id) {

          this.$buefy.snackbar.open({
            message: 'Created',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
  }
}
</script>
