<template>

  <b-modal :active.sync="isModalActive" has-modal-card>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add New Item On {{categoryName}}</p>
      </header>
      <section class="modal-card-body">

        <b-field horizontal label="Name">
          <b-input v-model="form.name" name="name" required/>
        </b-field>
        <b-field horizontal label="Price">
          <b-input v-model="form.price" name="price" required/>
        </b-field>
        <b-field horizontal label="Description">
          <b-input v-model="form.description" name="description" required/>
        </b-field>
        <b-field horizontal label="Food Allergy">
          <b-input v-model="form.food_allergy" name="food_allergy"/>
        </b-field>

        <b-field horizontal label="Status">
          <b-checkbox v-model="form.status" true-value="1" false-value="0"/>
        </b-field>

        <span v-for="(input, index) in form.inputs">
           <b-input v-model="input.size" name="size[index]" placeholder="Size" required />
           <b-input v-model="input.price" name="price[index]" placeholder="Price" required />
           <button class="button" type="button" @click="deleteSize(index)">Remove</button>
        </span>

        <button class="button" type="button" @click="addSizes">Add Sizes</button>

        <slot/>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="cancel">Cancel</button>
        <button class="button primary" @click="addProduct()">Submit</button>
      </footer>
    </div>
  </b-modal>

</template>

<script>
  import ModalBox from "./ModalBox";
  export default {
    name: "AddProduct",
    components: {ModalBox},
    props: [
      'isActive', 'categoryId', 'categoryName'
    ],
    data () {
      return {
        isModalActive: false,
        form: {
          name: null,
          description: null,
          food_allergy: null,
          price: null,
          id_category: null,
          inputs: [],
          status: 0,
        },

      }
    },
    methods: {
      cancel () {
        this.$emit('cancel')
      },
      addProduct () {

        this.form.id_category = this.categoryId

        let method = 'post'
        let url = '/products/store'
        axios({
          method,
          url,
          data: this.form
        }).then(r => {

          if (!this.id && r.data.data.id) {

             this.cancel();
             this.$emit('call-list');

            this.$buefy.snackbar.open({
              message: 'Product is Added Created',
              queue: false
            })
          }
        }).catch(e => {

          this.$buefy.toast.open({
            message: `Error: ${e.message}`,
            type: 'is-danger',
            queue: false
          })
        })
      },

      addSizes() {
        this.form.inputs.push({
          size: null,
          price: null
        })
      },

      deleteSize(index) {
        this.form.inputs.splice(index,1)
      }

      }, watch: {
        isActive (newValue) {
          this.isModalActive = newValue
        },
        isModalActive (newValue) {
          if (!newValue) {
            this.cancel()
          }
        }
    }
  }
</script>

