<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/" class="button">
        SMSBroadcasting
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Message Template" horizontal>
            <multiselect v-model="form.message" :options="message" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Select Message Template" label="template_slug" track-by="template_slug" :preselect-first="true">
            </multiselect>
          </b-field>
          <b-field label="Deal Items" horizontal>
            <multiselect v-model="form.users" :options="users" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Select User" label="name" track-by="name" :preselect-first="true">
            </multiselect>
          </b-field>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'SMSBroadcastingForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification,  Multiselect: window.VueMultiselect.default},
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject(),
      options: [],
      message:[],
      users:[],
      optionsProxy: [],
      selectedResources: [],
      showLoadingSpinner: false
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New SMS Broadcasting'
      }

      return [
        'Admin',
        'SMSBroadcasting',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create SMSB roadcasting'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit SMS Broadcasting'
      } else {
        return 'New SMS Broadcasting'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
    this.getMessage()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        template_slug: null,
        description: null,
        status: 0,
        users:'',
        message:''

      }
    },
    getMessage (value) {
      axios
        .get('/MessageTemplating')
        .then((response) => {
          // get body data
          this.message = []
          response.data.data.forEach((object) => {
            this.message.push(object)
          })
          this.showLoadingSpinner = false
        }, (response) => {
          // error callback
        })
    },
    getData (value) {
      axios
        .get(`/clients`)
        .then((response) => {
          // get body data
          this.users = []
          response.data.data.forEach((object) => {
            this.users.push(object)
          })
          this.showLoadingSpinner = false
        }, (response) => {
          // error callback
        })
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/SMSBroadcasting/store'

      /*if (this.id) {
        method = 'patch'
        url = `/MessageTemplating/${this.id}`
      }*/



      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'dashboard.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'SMS Broadcasting Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'SMS Broadcasting Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    },
    customLabel(option) {
      return `${option.name} — ${option.version}`
    },
    updateSelected(value) {
      value.forEach((resource) => {
        // Adds selected resources to array
        this.selectedResources.push(resource)
      })
      // Clears selected array
      // This prevents the tags from being displayed
      this.optionsProxy = []
    },
    cdnRequest(value) {
      axios
        .get(`/clients`)
        .then((response) => {
          // get body data
          this.options = []
          response.data.data.forEach((object) => {
            this.options.push(object)
          })
          this.showLoadingSpinner = false
        }, (response) => {
          // error callback
        })
    },
    searchQuery(value) {
      this.showLoadingSpinner = true
      // GET
      this.cdnRequest(value)
    },
    removeDependency(index) {
      this.selectedResources.splice(index, 1)
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
