<template>
    <div>
        <section class="section is-main-section">

                <card-component title="Menu" icon="account-circle" >
                    <BulmaAccordion dropdown :icon="'caret'" v-if="categories.length">
                        <!-- The wrapper component for all the items -->
                        <BulmaAccordionItem v-for="(cat, key) in categories">
                            <h4 slot="title">{{ cat.name }}</h4>
                            <p slot="content">
                                <card-component v-if="cat.products" v-for="product in cat.products" icon="account-circle" class="tile is-child" style="margin-bottom: 20px !important">

                                    <h3>{{product.name}}</h3>
                                    <h6 style="float: right; font-weight: bold">£ {{product.price}}/=</h6>
                                    <card-component v-if="product.product_groups" v-for="productgroups in product.product_groups" icon="account-circle" class="tile is-child" style="margin-top: 20px !important; width: 25% !important">
                                        <h3>{{productgroups.group.name}}</h3>
                                        <b-button @click="removeProductGroup(product.id, productgroups.group.id)" icon-right="delete" />
                                    </card-component>

                                <draggable tag="ul" @add="onAdd" :options="{group:{ name:'Items',  pull:false, put:true }}" style="height: 25px;">
                                        <li :listId="product.id"></li>
                                </draggable>
                                <b-button @click="removeProduct(product.id)" icon-right="delete" />
                                </card-component>
                                <br>
                                <a href="javascript:;" @click="addProductModal(cat.id, cat.name)" class="button is-black is-outlined"> Add Item to {{cat.name}}</a>
                                <b-button @click="removeCategory(cat.id)" icon-right="delete" />
                            </p>
                        </BulmaAccordionItem>
                    </BulmaAccordion>
                    <add-product :is-active="showAddProductModal" :categoryId="selectedCategoryId" :categoryName="selectedCategoryName" @cancel="hideModal" @call-list="onCallList"/>
                    <add-choice :is-active="showAddChoicesModal" :groupId="selectedGroupId" :groupName="selectedGroupName" @cancel="hideChoicesModal" @call-list="onCallList"/>
                </card-component>

                <card-component title="Choices & Addons" icon="account-circle">
                    <BulmaAccordion dropdown :icon="'caret'" v-if="addons.length">
                        <!-- The wrapper component for all the items -->
                        <draggable @add="onAdd" :options="{group:{ name:'Items',  pull:'clone', put:false }}">
                            <BulmaAccordionItem v-for="(addon, key) in addons" :groupId="addon.id">
                                <h4 slot="title">{{ addon.name }}</h4>
                                <p slot="content">
                                    <card-component v-if="addon.choices" v-for="choice in addon.choices" icon="account-circle" class="tile is-child" style="margin-bottom: 20px !important">
                                        <h3>{{choice.name}}</h3>
                                        <h6 style="float: right; font-weight: bold">£. {{choice.price}}/=</h6>
                                    </card-component>
                                    <br>
                                    <a href="javascript:;" @click="addChoicesModal(addon.id, addon.name)" class="button is-black is-outlined"> Add choice of {{addon.name}}</a>
                                </p>
                            </BulmaAccordionItem>
                        </draggable>
                    </BulmaAccordion>
                    <br>
                    <a href="javascript:;" class="button is-black is-outlined" @click="showGroupSection()"> Add Group </a>
                    <br><br>
                    <card-component title="Add Group" icon="account-circle" v-if="groupSection">
                        <form @submit.prevent="submitGroup">
                            <b-field horizontal label="Name">
                                <b-input v-model="groupform.name" name="name" required/>
                            </b-field>

                            <b-field horizontal label="Group Type" required>
                                <b-radio v-model="groupRadio"
                                         name="type"
                                         native-value="Optional">
                                    Optional
                                </b-radio>
                                <b-radio v-model="groupRadio"
                                         name="type"
                                         native-value="Mandatory">
                                    Mandatory
                                </b-radio>
                            </b-field>
                            <b-field horizontal label="Single or Multiple" required>
                              <b-radio v-model="groupSingle"
                                       name="displaytype"
                                       native-value="Single">
                                Single
                              </b-radio>
                              <b-radio v-model="groupSingle"
                                       name="displaytype"
                                       native-value="Multiple">
                                Multiple
                              </b-radio>
                            </b-field>
                            <hr>
                            <b-field horizontal>
                                <div class="buttons">
                                    <a href="javascript:;" @click="showGroupSection()" class="button is-black is-outlined">Cancel</a>
                                    <button type="submit" class="button is-black" :class="{'is-loading':isLoading}">
                                        Submit
                                    </button>
                                </div>
                            </b-field>
                        </form>
                    </card-component>
                </card-component>

            <br>
            <a href="javascript:;" class="button is-black is-outlined" @click="showCategorySection()"> Add Category </a>
            <br><br>
            <card-component title="Add Category" icon="account-circle" v-if="categorySection">
                <form @submit.prevent="submit" enctype="multipart/form-data">
                    <b-field horizontal label="Name" :message="formNameMessage" :type="formNameType">
                        <b-input v-model="form.name" name="name" required/>
                    </b-field>
                    <b-field horizontal label="Description" :message="formDescriptionMessage" :type="formDescriptionType">
                        <b-input v-model="form.description" name="description" required/>
                    </b-field>

                    <b-field horizontal label="Status">
                        <b-checkbox v-model="form.status" true-value="1" false-value="0"/>
                    </b-field>

                    <b-field horizontal>

                        <b-upload v-model="form.image" accept=".jpg,.png">
                            <a class="button is-primary">
                                <b-icon icon="upload"></b-icon>
                                <span>Upload Feature Image</span>
                            </a>
                        </b-upload>
                        <span class="file-name" v-if="form.image">
                        {{ form.image.name }}
                    </span>
                    </b-field>

                    <hr>
                    <b-field horizontal>
                        <div class="buttons">
                            <a href="javascript:;" @click="showCategorySection()" class="button is-black is-outlined">Cancel</a>
                            <button type="submit" class="button is-black" :class="{'is-loading':isLoading}">
                                Submit
                            </button>
                        </div>
                    </b-field>
                </form>
            </card-component>
        </section>
    </div>

</template>

<script>

import CardComponent from '@/components/CardComponent'
import { BulmaAccordion, BulmaAccordionItem } from 'vue-bulma-accordion'
import AddProduct from "../../components/AddProduct";
import AddChoice from "../../components/AddChoice";
import ModalTrashBox from "../../components/ModalTrashBox";
import draggable from 'vuedraggable';
import BRadio from "buefy/src/components/radio/Radio";
import BRadioButton from "buefy/src/components/radio/RadioButton";

export default {
    name: 'Menu Setup',
    components: {
        BRadioButton,
        BRadio,
        ModalTrashBox,
        AddProduct,
        AddChoice,
        draggable,
        CardComponent, BulmaAccordion,
        BulmaAccordionItem
    },
    data () {
        return {
            isLoading: false,
            errors: {},
            categories: [],
            addons: [],
            categorySection: false,
            groupSection: false,
            selectedCategoryId : null,
            selectedCategoryName: null,
            selectedGroupId : null,
            selectedGroupName : null,
            showAddProductModal: false,
            showAddChoicesModal: false,
            groupRadio: 'Optional',
            groupSingle: 'Single',
            form: {
                name: null,
                description: null,
                status: 0,
                image: null
            },
            groupform: {
                name: null,
                type: null
            },
        }
    },
    methods: {

        submit () {

            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('description', this.form.description);
            formData.append('status', this.form.status);
            formData.append('image', this.form.image);

            let method = 'post'
            let url = '/categories/store'
            axios({
                method,
                url,
                data: formData,
                config
            }).then(r => {
                this.isLoading = false

                if (!this.id && r.data.data.id) {

                    this.categorySection = false
                    this.getData();
                    this.form.name = null;
                    this.form.status = 0;
                    this.form.description = null;
                    this.form.image = null

                    this.$buefy.snackbar.open({
                        message: 'Category Added Successfully',
                        queue: false
                    })
                }
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })
        },

        submitGroup () {

            this.groupform.type = this.groupRadio
            this.groupform.display_type = this.groupSingle

            let method = 'post'
            let url = '/choicesGroup/store'
            axios({
                method,
                url,
                data: this.groupform
            }).then(r => {
                this.isLoading = false

                if (!this.id && r.data.data.id) {

                    this.groupSection = false
                    this.groupform.name = null
                    this.getAddons()

                    this.$buefy.snackbar.open({
                        message: 'Created',
                        queue: false
                    })
                }
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })
        },

        getData () {
            let self = this;
            axios
                .get('/categories')
                .then(r => {

                    this.isLoading = false
                    if (r.data && r.data.data) {
                        if (r.data.data.length > this.perPage) {
                            this.paginated = true
                        }
                        self.categories = r.data.data
                    }
                })
                .catch( err => {
                    this.isLoading = false
                    this.$buefy.toast.open({
                        message: `Error: ${err.message}`,
                        type: 'is-danger',
                        queue: false
                    })
                })
        },

        getAddons () {
            let self = this;
            axios
                .get('/choicesGroup')
                .then(r => {

                    this.isLoading = false
                    if (r.data && r.data.data) {
                        if (r.data.data.length > this.perPage) {
                            this.paginated = true
                        }
                        self.addons = r.data.data
                    }
                })
                .catch( err => {
                    this.isLoading = false
                    this.$buefy.toast.open({
                        message: `Error: ${err.message}`,
                        type: 'is-danger',
                        queue: false
                    })
                })
        },

        removeProductGroup(productId, groupId) {

            let method = 'post'
            let url = '/productGroups/destroy'
            axios({
                method,
                url,
                data: {
                    id_group: groupId,
                    id_product: productId
                },
            }).then(r => {
                this.isLoading = false
                    this.getData()
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })

        },

        removeCategory(categoryId) {

            let method = 'delete'
            let url = '/categories/'+categoryId+'/destroy';
            axios({
                method,
                url
            }).then(r => {
                this.isLoading = false
                this.getData()
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })

        },

        removeProduct(productId) {

            let method = 'delete'
            let url = '/products/'+productId+'/destroy';
            axios({
                method,
                url
            }).then(r => {
                this.isLoading = false
                this.getData()
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })

        },

        showCategorySection() {
            let self = this

            if(self.categorySection == false) {
                self.categorySection = true
            } else {
                self.categorySection = false;
            }
        },

        showGroupSection() {
            let self = this

            if(self.groupSection == false) {
                self.groupSection = true
            } else {
                self.groupSection = false;
            }
        },

        addProductModal(id, name) {
            this.showAddProductModal = true;
            this.selectedCategoryId = id;
            this.selectedCategoryName = name;
        },

        hideModal() {
            this.showAddProductModal = false;
            this.selectedCategoryId = null;
            this.selectedCategoryName = null;
        },

        addChoicesModal(id, name) {
            this.showAddChoicesModal = true;
            this.selectedGroupId = id;
            this.selectedGroupName = name;
        },

        hideChoicesModal() {
            this.showAddChoicesModal = false;
            this.selectedGroupId = null;
            this.selectedGroupName = null;
        },

        onCallList() {
            this.onApply();
        },

        onApply() {
            this.getData();
            this.getAddons();
        },

        onAdd: function(evt) {

            let groupId = evt.item.getAttribute('groupid');
            let ProductId = evt.to.firstChild.getAttribute('listId');

            let method = 'post'
            let url = '/productGroups/store'
            axios({
                method,
                url,
                data: {
                    id_group: groupId,
                    id_product: ProductId
                },
            }).then(r => {
                this.isLoading = false

                if (r.data.data.id) {

                    this.getData()

                    evt.to.innerHTML = "<li listId="+ProductId+"></li>";

                    this.$buefy.snackbar.open({
                        message: 'Created',
                        queue: false
                    })
                }
            }).catch(e => {
                this.isLoading = false

                this.$buefy.toast.open({
                    message: `Error: ${e.message}`,
                    type: 'is-danger',
                    queue: false
                })
            })
        },
    },
    computed: {
        formNameType() {
            return this.errors.name?'is-danger':null
        },
        formNameMessage() {
            return this.errors.name?this.errors.name[0]:'Required. Category Name'
        },
        formDescriptionType() {
            return this.errors.description?'is-danger':null
        },
        formDescriptionMessage() {
            return this.errors.description?this.errors.description[0]:'Required. Category Description'
        },

        myList: {
            get() {
                return this.$store.state.myList
            },
            set(value) {
                this.$store.commit('updateList', value)
            }
        }
    },
    created () {
        this.getData();
        this.getAddons();
    },
}
</script>
