<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/GeneralSetting/index" class="button">
        GeneralSetting
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
          <form @submit.prevent="submit">
            <template v-if="form.id">
              <b-field label="ID" horizontal>
                <b-input :value="form.id" custom-class="is-static" readonly />
              </b-field>
              <hr>
            </template>
            <b-field label="Site Name" horizontal>
              <b-input placeholder="Enter site name" v-model="form.site_name" required />
            </b-field>
            <b-field label="Site Title" horizontal>
              <b-input placeholder="Enter site title" v-model="form.site_title" required />
            </b-field>
            <b-field label="Tag Line" horizontal>
              <b-input placeholder="Enter tag line" v-model="form.tag_line" required />
            </b-field>
            <b-field label="Copyright Text" horizontal>
              <textarea typeof="text" placeholder="Enter copyright text" v-model="form.copyright_text" class="textarea" required> </textarea>

            </b-field>
            <b-field label="Service charges" horizontal>
              <b-input type="number" placeholder="Enter service charges" v-model="form.service_charges"  min="0.00" required/>
            </b-field>
            <b-field label="Vat" horizontal>
              <b-input type="number" placeholder="Enter Vat" v-model="form.Vat" min="0.00" required/>
            </b-field>
            <b-field label="Mobile Printer IP" horizontal>
              <b-input type="text" placeholder="Enter Printer IP For Mobile App" v-model="form.printer_ip"/>
            </b-field>

            <b-field label=" Select Currency" horizontal>
              <b-select class="currency-selector"  v-model="form.currencySign">
                <option value="$" selected>USD</option>
                <option value="€">EUR</option>
                <option value="£">UK</option>
                <option value="¥" >JPY</option>
                <option value="$" >CAD</option>
                <option value="AED" >UAE</option>
                <option value="₨">PAK</option>
              </b-select>
            </b-field>
            <hr>
            <b-field label="Header Logo" horizontal>
              <b-upload v-model="form.header_logo" label="header_logo" accept=".jpg,.png">
                <a class="button is-primary">
                  <b-icon icon="upload"></b-icon>
                  <span>Upload Header Logo</span>
                </a>
              </b-upload>
              <span class="file-name" v-if="form.header_logo">
                            {{ form.header_logo.name }}
                        </span>
            </b-field>
            <hr>
            <b-field label="Footer Logo" horizontal>

              <b-upload v-model="form.footer_logo" label="footer_logo" accept=".jpg,.png">
                <a class="button is-primary">
                  <b-icon icon="upload"></b-icon>
                  <span>Upload Footer Logo</span>
                </a>
              </b-upload>
              <span class="file-name" v-if="form.footer_logo">
                            {{ form.footer_logo.name }}
                        </span>
            </b-field>
            <hr>
            <b-field label="Favicon" horizontal>
              <b-upload v-model="form.favicon" label="favicon" accept=".jpg,.png">
                <a class="button is-primary">
                  <b-icon icon="upload"></b-icon>
                  <span>Upload Favicon</span>
                </a>
              </b-upload>
              <span class="file-name" v-if="form.favicon">
                            {{ form.favicon.name }}
                        </span>
            </b-field>

            <b-field label="Shop Status ?" horizontal>
              <b-checkbox v-model="form.shop_status" true-value="1" false-value="0"> </b-checkbox>
            </b-field>

            <hr>
            <b-field horizontal>
              <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
            </b-field>
          </form>
        </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
  import clone from 'lodash/clone'
  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import Tiles from '@/components/Tiles'
  import CardComponent from '@/components/CardComponent'
  import FilePicker from '@/components/FilePicker'
  import UserAvatar from '@/components/UserAvatar'
  import Notification from '@/components/Notification'
  import moment from 'moment'

  export default {
    name: 'GeneralSettingForm',
    components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
    props: {
      id: {
        default: null
      }
    },
    data () {
      return {
        isLoading: false,
        item: null,
        form: this.getClearFormObject()
      }
    },
    computed: {
      titleStack () {
        let lastCrumb

        if (this.isProfileExists) {
          lastCrumb = this.form.name
        } else {
          lastCrumb = 'New General Setting'
        }

        return [
          'Admin',
          'generalSetting',
          lastCrumb
        ]
      },
      heroTitle () {
        if (this.isProfileExists) {
          return this.form.name
        } else {
          return 'Create General Setting'
        }
      },
      formCardTitle () {
        if (this.isProfileExists) {
          return 'Edit General Setting'
        } else {
          return 'New General Setting'
        }
      },
      isProfileExists () {
        return !!this.item
      }
    },
    created () {
        this.getData()
    },
    methods: {
      getClearFormObject () {
        return {
          id: null,
          site_name: null,
          site_title: null,
          tag_line: null,
          copyright_text: null,
          header_logo: null,
          footer_logo: null,
          favicon: null,
          name:null,
          currencySign:null,
          service_charges:null,
          Vat:null,
          printer_ip: null,
          shop_status:0
        }
      },
      getData () {
          axios
            .get(`/generalSetting`)
            .then(r => {

                if (r.data.data.length > 0) {
                    this.form = r.data.data[0]
                }
            })
            .catch(e => {
              this.$buefy.toast.open({
                message: `Error: ${e.message}`,
                type: 'is-danger',
                queue: false
              })
            })

      },
      fileIdUpdated (fileId) {
        this.form.file_id = fileId
        this.form.avatar_filename = null
      },
      input (v) {
        this.validFromReadable = moment(v).format('MMM D, Y').toString()
        //  this.createdReadable = moment(v).format('MMM D, Y').toString()
        //  this.validToReadable = moment(v).format('MMM D, Y').toString()
      },
      submit () {
        this.isLoading = true

        let method = 'post'
        let url = '/generalSetting/store'
        if (this.form.id) {
            method = 'post'
            url= `/generalSetting/${this.form.id}`
        }

        const config = {
          headers: { 'content-type': 'multipart/form-data' }
        }

        let formData = new FormData();
        formData.append('site_name', this.form.site_name);
        formData.append('site_title', this.form.site_title);
        formData.append('tag_line', this.form.tag_line);
        formData.append('copyright_text', this.form.copyright_text);
        formData.append('header_logo', this.form.header_logo);
        formData.append('footer_logo', this.form.footer_logo);
        formData.append('favicon', this.form.favicon);
        formData.append('service_charges', this.form.service_charges);
        formData.append('Vat', this.form.Vat);
        formData.append('printer_ip', this.form.printer_ip);
        formData.append('shop_status', this.form.shop_status);
        formData.append('currencySign', this.form.currencySign);
        axios({
          method,
          url,
          data: formData,
          config
        }).then(r => {

          this.isLoading = false
        //  this.$router.push({name: 'home'})

          if (!this.id && r.data.data.id) {
            this.$buefy.snackbar.open({
              message: 'General Setting Created Successfully',
              queue: false
            })
          } else {
            this.item = r.data.data

            this.$buefy.snackbar.open({
              message: 'General Setting Updated Successfully',
              queue: false
            })
          }
        }).catch(e => {
          this.isLoading = false

          this.$buefy.toast.open({
            message: `Error: ${e.message}`,
            type: 'is-danger',
            queue: false
          })
        })
      }
    },
    watch: {
      id (newValue) {
        this.form = this.getClearFormObject()

        if (newValue) {
          if(this.form.id)
          {
            this.getData()
          }

        }
      }
    }
  }
</script>
