<template>
  <div id="app">
    <title-bar :title-stack="['Admin', 'Delivery Charges']"/>
    <hero-bar>
      Delivery Charges
      <router-link to="/DeliveryCharges/new" class="button" slot="right" v-if="DeliveryCharges.length === 0" >
        New Delivery Charges
      </router-link>
    </hero-bar>
    <section class="section is-main-section">

      <!--<b-field label="Select Charges Type" >
        <b-select placeholder="Select type" v-model="delivery_types " @change="onApply">
          <option value="fix_delivery" selected>
            Fix Delivery
          </option>
          <option value="postal_code">Postal Code</option>
          <option value="miles">miles</option>
        </b-select>
      </b-field>-->
      <card-component class="has-table has-mobile-sort-spaced" title="Delivery Charges" icon="account-multiple">
        <card-toolbar>
          <button slot="right" type="button" class="button is-danger is-small has-checked-rows-number" @click="trashModal(null)" :disabled="!checkedRows.length">
            <b-icon icon="trash-can" custom-size="default"/>
            <span>Delete</span>
            <span v-show="!!checkedRows.length">({{ checkedRows.length }})</span>
          </button>
        </card-toolbar>
        <modal-trash-box :is-active="isModalActive" :trash-subject="trashSubject" @confirm="trashConfirm" @cancel="trashCancel"/>

        <b-table
          :checked-rows.sync="checkedRows"
          :checkable="true"
          :loading="isLoading"
          :paginated="paginated"
          :per-page="perPage"
          :striped="true"
          :hoverable="true"
          default-sort="name"
          :data="DeliveryCharges">

          <template slot-scope="props">
            <b-table-column label="ID" field="id" sortable>
              {{ props.row.id }}
            </b-table-column>
            <b-table-column label="Delivery Type" field="delivery_types" sortable>
              {{props.row.delivery_types}}
            </b-table-column>
            <b-table-column label="Final Delivery Charges" field="fix_delivery_charges" sortable>
              {{props.row.fix_delivery_charges}}
            </b-table-column>
            <b-table-column label="Postal Code" field="postal_code" sortable>
              {{ props.row.postal_code }}
            </b-table-column>
            <b-table-column label="Miles" field="postal_code" sortable>
              {{ props.row.miles }}
            </b-table-column>
            <b-table-column label="Amount" field="amount" sortable>
              {{props.row.amount}}
            </b-table-column>

            <b-table-column custom-key="actions" class="is-actions-cell">
              <div class="buttons is-right">
                <router-link :to="{name:'DeliveryCharges.edit', params: {id: props.row.id}}" class="button is-small is-primary">
                  <b-icon icon="account-edit" size="is-small"/>
                </router-link>
                <button class="button is-small is-danger" type="button" @click.prevent="trashModal(props.row)">
                  <b-icon icon="trash-can" size="is-small"/>
                </button>
              </div>
            </b-table-column>
          </template>

          <section class="section" slot="empty">
            <div class="content has-text-grey has-text-centered">
              <template v-if="isLoading">
                <p>
                  <b-icon icon="dots-horizontal" size="is-large"/>
                </p>
                <p>Fetching data...</p>
              </template>
              <template v-else>
                <p>
                  <b-icon icon="emoticon-sad" size="is-large"/>
                </p>
                <p>Nothing's here&hellip;</p>
              </template>
            </div>
          </section>
        </b-table>
      </card-component>
    </section>
  </div>

</template>

<script>
import map from 'lodash/map'
import CardComponent from '@/components/CardComponent'
import ModalBox from '@/components/ModalBox'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import CardToolbar from '@/components/CardToolbar'
import ModalTrashBox from '@/components/ModalTrashBox'

import moment from 'moment'

export default {
  name: "DeliveryCharges",
  components: {ModalTrashBox, CardToolbar, HeroBar, TitleBar, ModalBox, CardComponent},
  data () {
    return {
      delivery_types:'',
      isModalActive: false,
      trashObject: null,
      DeliveryCharges: [],
      isLoading: false,
      paginated: false,
      perPage: 10,
      checkedRows: [],

    }
  },
  computed: {
    trashSubject () {
      if (this.trashObject) {
        return this.trashObject.name
      }

      if (this.checkedRows.length) {
        return `${this.checkedRows.length} entries`
      }

      return null
    }
  },
  created () {
    this.getData()
  },
  methods: {
    onApply() {
      var data = {
        delivery_types: this.delivery_types,
      };

    },
    getData() {
    // var url='/DeliveryCharges'
   /*   if ((typeof (data) !== 'undefined' && data)) {
        if (data.delivery_types != "" && data.delivery_types != "undefined") {
          console.log("innnnnnnn")
          var query = '&delivery_types=' + data.delivery_types;
          url = url + query ;
        }
      }
      var query ='?delivery_types=' + this.delivery_types;
      url = url + query ;*/

      this.isLoading = true
      axios
        .get('/DeliveryCharges')
        .then(r => {
          this.isLoading = false
          if (r.data && r.data.data) {
            if (r.data.data.length > this.perPage) {
              this.paginated = true
            }
            this.DeliveryCharges = r.data.data
          }
        })
        .catch( err => {
          this.isLoading = false
          this.$buefy.toast.open({
            message: `Error: ${err.message}`,
            type: 'is-danger',
            queue: false
          })
        })
    },

    trashModal (trashObject = null) {
      if (trashObject || this.checkedRows.length) {
        this.trashObject = trashObject
        this.isModalActive = true
      }
    },
    trashConfirm () {
      let url
      let method
      let data = null

      this.isModalActive = false

      if (this.trashObject) {
        method = 'delete'
        url = `/DeliveryCharges/${this.trashObject.id}/destroy`
      } else if (this.checkedRows.length) {
        method = 'post'
        url = '/DeliveryCharges/destroy'
        data = {
          id: map(this.checkedRows, row => row.id)
        }
      }

      axios({
        method,
        url,
        data
      }).then( r => {
        this.getData()

        this.trashObject = null
        this.checkedRows = []

        this.$buefy.snackbar.open({
          message: `Deleted`,
          queue: false
        })
      }).catch( err => {
        this.$buefy.toast.open({
          message: `Error: ${err.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    },
    trashCancel () {
      this.isModalActive = false
    }
  }
}
</script>
