<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/DeliveryCharges/index" class="button">
        Delivery Charges
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Select Charges Type"  horizontal>
            <b-select placeholder="Select type" v-model="form.delivery_types"  :disabled="disabled" required >
              <option value="fix_delivery">
                Fix Delivery
              </option>
              <option value="postal_code">Postal Code</option>
              <option value="miles">Miles</option>
            </b-select>
          </b-field>
          <template v-if="form.delivery_types == 'fix_delivery' ">
          <b-field label="final Delivery Charges" horizontal>
            <b-input placeholder="Enter final delivery charges" v-model="form.fix_delivery_charges" type="number" step="0.01" min="0.00" required/>
          </b-field>


          </template>

          <template v-else-if="form.delivery_types == 'postal_code'">
          <b-field label="Postal Code" horizontal >
            <b-input placeholder="Enter postal code" v-model="form.postal_code" required/>
          </b-field>
          <b-field  label="Amount" horizontal>
            <b-input placeholder="Enter amount" v-model="form.amount" type="number" step="0.01" min="0.00"  required/>
          </b-field>
            <b-field horizontal>
              <b-button type="is-primary" @click="addMore">Add more</b-button>
            </b-field>
          </template>

          <template v-if="form.delivery_types == 'miles'">
          <b-field label="Miles" horizontal>
            <b-input  placeholder="Enter miles" v-model="form.miles" type="number" step="0.01" min="0.00" required/>
          </b-field>
            <b-field label="Amount" horizontal>
              <b-input  placeholder="Enter amount"  v-model="form.amount"  type="number"  step="0.01" min="0.00"  required/>
            </b-field>
            <b-field horizontal>

              <b-button type="is-primary"  @click="addMore">Add more</b-button>
            </b-field>
          </template>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>

        </form >
          <hr>

      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'DeliveryCharges',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      disabled:false,
      hidden:true,
      isLoading: false,
      item: null,
      form: this.getClearFormObject(),
      abc:[],
      isAdd:'',
      isSubmit:''

    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Delivery Charges'
      }

      return [
        'Admin',
        'DeliveryCharges',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.key
      } else {
        return 'Create Delivery Charges'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Delivery Charges'
      } else {
        return 'New Delivery Charges'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    validateBeforeSubmit() {
      var self = this;
      //var str = this.formData.url_suffix;
      var regex = /^[0-9a-z\-]+$/;

      var form_data = this.formData;
      this.errorBag.clear();
      this.$validator.validateAll().then((result) => {
        if (result && !this.errorBag.all().length) {
          if (!form_data.title) {
            this.errorBag.add({
              msg: 'The title is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }

          if (!form_data.content) {
            this.errorBag.add({
              msg: 'The content is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }
          if (!form_data.slug) {
            this.errorBag.add({
              msg: 'The slug is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }
          if (!form_data.meta_title) {
            this.errorBag.add({
              msg: 'The meta_title is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }

          if (!form_data.meta_desc) {
            this.errorBag.add({
              msg: 'The meta_desc is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }

          if (!form_data.index_follow) {
            this.errorBag.add({
              msg: 'The index_follow is required.',
              rule: 'required',
            });
            this.scrollToTop();
            this.errorMessage = this.errorBag.all()[0];
            return;
          }
          if (this.isUpdate) {
            this.onUpdate();
          } else {
            this.onSubmit();
          }
          this.errorMessage = '';
          return;
        }
        this.scrollToTop();
        this.errorMessage = this.errorBag.all()[0];
      });
    },
    changeValue(data)
    {
      console.log(this.isAdd)
     if (data === true)
     {
       console.log("inside")
       this.addMore();
     }
     this.submit();

    },
    getClearFormObject () {
      return {
        id: null,
        postal_code: null,
        miles: null,
        amount:null,
        fix_delivery_charges: null,
        delivery_types:null
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/DeliveryCharges/${this.id}`)
          .then(r => {
            this.form = r.data.data[0]
            this.item = clone(r.data.data)
            this.disabled= true;
            this.hidden = false;

          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    addMore()
    {
    // let  ab = this.abc.push(this.form)
    //   console.log( ab);
    console.log(this.abc)

      this.disabled= true;
      let method = 'post'
      let url = '/DeliveryCharges/store'

      if (this.id) {
        method = 'patch'
        url = `/DeliveryCharges/${this.id}`
      }



      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.form = {
          id: null,
          postal_code: null,
          miles: null,
          amount:null,
          fix_delivery_charges: null,
          delivery_types: this.form.delivery_types
        }

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Delivery Charges Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Delivery Charges Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })

    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/DeliveryCharges/store'

      if (this.id) {
        method = 'patch'
        url = `/DeliveryCharges/${this.id}`
      }



      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'DeliveryCharges.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Delivery Charges Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Delivery Charges Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
