<template>
  <div>
    <hero-bar>
      {{ heroTitle }}
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" class="tile is-child">

          <form @submit.prevent="submit">
            <b-field label="Website" horizontal>
              <b-input placeholder="www.google.com" v-model="form.restaurant.website_url" required />
            </b-field>
            <hr>

            <b-field horizontal>
              <b-button type="is-primary" :loading="isLoading" native-type="submit">Next</b-button>
            </b-field>
          </form>
        </card-component>

      </tiles>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import Tiles from '@/components/Tiles'
  import CardComponent from '@/components/CardComponent'
  import Notification from '@/components/Notification'

  export default {
    name: 'AddressForm',
    components: { CardComponent, Tiles, HeroBar, TitleBar, Notification },
    props: {
      id: {
        default: null
      }
    },
    data () {
      return {
        isLoading: false,
        form: this.getClearFormObject()
      }
    },

    computed: {
      heroTitle () {
        return "What's your restaurant's website ?"
      },
      formCardTitle () {
        return 'Do you have a real www. website domain name?'
      },
      ...mapState([
        'userRestaurant'
      ])
    },

    mounted () {
      if (this.userRestaurant != null) {
        this.form.restaurant = this.userRestaurant
      } else {
        this.$router.push({name: 'address.index'})
      }
    },

    methods: {
      getClearFormObject () {
        return {
          restaurant : {
            name: null,
            phone_number: null,
            website_url: null,
            id_user : null,
            address: {
              id: null,
              id_country: null,
              city: null,
              zip_code: null,
              address: null,
              id_restaurant: null
            }
          }
        }
      },
      submit() {
        this.isLoading = true
        this.errors = {}
        axios
                .patch('/user/restaurant', this.form)
                .then(r => {
                  this.isLoading = false

                  this.form.restaurant = r.data.data.restaurant

                  this.$store.commit('user', r.data.data)
                  this.$buefy.snackbar.open({
                    message: 'Restaurant website is added successfully',
                    duration: 1000,
                    queue: false
                  })
                })
                .catch(err => {
                  this.isLoading = false
                  if (err.response.data.errors) {
                    this.errors = err.response.data.errors
                  } else if (err.response.status === 403) {
                    this.$emit('is-forbidden')
                    this.errors = {
                      _all: ['Forbidden with demo account']
                    }
                  } else {
                    console.error(err.response)
                    this.errors = {
                      _all: ['An error occurred']
                    }
                  }
                  each(this.errors, err => {
                    this.$buefy.toast.open({
                      message: err[0],
                      type: 'is-danger',
                      queue: false,
                      duration: 3000
                    })
                  })
                })
      }
    },

    watch: {
      userRestaurant (newValue) {
        this.form.restaurant = newValue
      },

      userId (newValue) {
        this.form.restaurant.id_user = newValue
      }
    }

  }
</script>
