<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/cms/index" class="button">
        CMS
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Title" horizontal>
            <b-input placeholder="" v-model="form.title" required />
          </b-field>
          <b-field label="Content" horizontal>
            <textarea typeof="text" placeholder="" v-model="form.content" class="textarea" required> </textarea>
          </b-field>

          <b-field label="Slug" horizontal>
            <b-input placeholder="" v-model="form.slug" required />
          </b-field>
          <b-field label="Meta Title" horizontal>
            <b-input placeholder="" v-model="form.meta_title" required />
          </b-field>
          <b-field label="Meta Desc" horizontal>
            <b-input placeholder=" " v-model="form.meta_desc" required />
          </b-field>
          <b-field label="Index Follow" horizontal>
            <b-input placeholder=" " v-model="form.index_follow" required />
          </b-field>

          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'CMSForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New CMS'
      }

      return [
        'Admin',
        'CMS',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create CMS'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit CMS'
      } else {
        return 'New CMS'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        title: null,
        content: null,
        slug: null,
        meta_title: null,
        meta_desc: null,
        index_follow: null,
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/cms/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/cms/store'

      if (this.id) {
        method = 'patch'
        url = `/cms/${this.id}`
      }

      this.form.valid_from = moment(this.form.valid_from).format('Y-M-D').toString();
      this.form.valid_to = moment(this.form.valid_to).format('Y-M-D').toString();

      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'cms.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'CMS Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'CMS Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
